.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: var(--text-muted);
  font-size: 0.875rem; /* 14px */
  border-top: 1px solid var(--border-color);
  background-color: var(--container-bg); /* Gib dem Footer dieselbe Farbe wie dem Header */
  z-index: 50; /* Damit er über anderen Inhalten liegt */
}